@model Game;
@{
    ViewData["Title"] = "GameInfo";
    var game = Model;
}
<div class="game-info-container">
   <div class="game-info d-flex">
        @if(Model is null){
            <div class="alert alert-danger" role="alert">
                Sorry! There is no details info about this game(
            </div>
        }
        else {
            <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">@game.Name</h5>
                    <p class="card-text">@game.Description</p>
                    <li class="list-group-item mb-2">@game.Price $</li>
                  </div>
                  <a href="/Comment/@(game.Id)" class="btn btn-primary">See Comments</a>
            </div>
        }

        @* <div>
            <div class="col-md-4 mb-4 mb-md-0">
            <div class="card">
              <div class="card-body py-4 mt-2">
                <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
                <p class="mb-2">
                  <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                  ad velit ab hic tenetur.
                </p>
              </div>
            </div>
            </div>
        </div> *@

        
   </div>
</div>