@using MyGames.Repositories.Dapper
@{
    ViewData["Title"] = "Games";

    var rep = new GameDapperRepository();
    var games = await rep.GetAllAsync(); 

    Console.WriteLine(games.Any<Game>());

}

<div class="index-game">
    @if(games is not null)
    foreach(var game in games){
        <div class="game">
            <div>name: "@game.Name"</div>
            <div>price: "@game.Price"</div>
            <br>
        </div>
    }
</div>

<form action="/Game" method="post">
    <div>
        <span>name: </span> <input type="text" name="Name">
    </div>
    
    <div>
        <span>price: </
    using MyGames.Repositories.Dapper;

    </div>

    <button>Create</button>

</form>