@using MyGames.Repositories.Dapper
@model IEnumerable<Game>;
@{
    ViewData["Title"] = "Games";
}

<div class="index-container">
   <div class="index d-flex justify-content-between">
        @if(Model is null || !Model.Any()){
            <div class="alert alert-danger" role="alert">
                Sorry! There is no games(
            </div>
        }
        else {
            @foreach(var game in Model) {
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">@game.Name</h5>
                    <p class="card-text">@game.Description</p>
                    <li class="list-group-item mb-2">@game.Price $</li>
                    <a href="#" class="btn btn-primary">See Details</a>
                  </div>
                </div>
            }
        }
   </div>
</div>

@* <form action="/Game" method="post">
    <div>
        <span>name: </span> <input type="text" name="Name">
    </div>
    
    <div>
        <span>price: </
    using MyGames.Repositories.Dapper;

    </div>

    <button>Create</button>

</form> *@