@model IEnumerable<Game>;
@{
    ViewData["Title"] = "Games";
}

<div class="index-container">
   <div class="index d-flex justify-content-between">
        @if(Model is null || !Model.Any()){
            <div class="alert alert-danger" role="alert">
                Sorry! There is no games(
            </div>
        }
        else {
            @foreach(var game in Model) {
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">@game.Name</h5>
                    <li class="list-group-item mb-2">@game.Price $</li>
                    <a href="/Game/@(game.Id)" class="btn btn-primary">See Details</a>
                  </div>
                </div>
            }
        }
   </div>
</div>

