@using MyGames.Core.Dtos.Models;

@model LoginDto

@{
    ViewData["Title"] = "Login";
    Layout = null;
    var authenticationError = TempData["error"] as string;
}

<style>

  * {
    margin: 0;
    padding: 0;
    
  }



.login-wrappper {
    width: 100%;
    margin: 0px auto 0px auto;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #121212;
}

.login{
  width: 470px;
  height: 950px;
  background-color: #2A2A2A;
  margin-right: auto;
  margin-left: auto;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

html::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
}

html::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}


.logo {
  color: #4dbf00;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  font-family: "Sen", sans-serif;
}

.login-container{
  padding: 80px 50px 80px
}

.heder-login, .text-login {
  color: white;
  text-align: center;
}

.login-button-container{ 
  display: flex;
  margin-top: 20px;
}

.login-button{
  margin: 0px auto;
}

.signup-button-container{
  display: flex;
  margin-top: 20px;
}

.errors {
  color: red;
}

.errors-login{
  color: red;
}

</style>



<!DOCTYPE html>
<html lang="en"> 
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
  </head>
  <body>

    <div class="login-wrappper">
      <div class="login ">
        <div class="login-container">
          <div class="lilita-one-regular  logo">MyGames</div>
          <div class="heder-login roboto-medium ">Login</div>

          <form asp-route="LoginEndpoint" method="post">
            <div class="mb-3">
              <label asp-for=Username class="form-label text-login">Username</label>
              <input asp-for=Username type="text" class="form-control">
            </div>
            <div class="errors-login">
              <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Username"></span>
            </div>
            <div class="mt-2 d-block text-danger feedback-error" asp-validation-for="Password"></div>
            <div class="mb-3">
              <label asp-for=Password class="form-label text-login">Password</label>
              <input asp-for=Password type="password" class="form-control">
            </div>
            <div class="errors-login">
              <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Password"></span>
            </div>
            <div class="mt-2 d-block text-danger feedback-error" asp-validation-for="All"></div>
            <div class="login-button-container">
              <button type="submit" class="btn btn-primary login-button">Login</button>
            </div>
          </form>

          <div class="signup-button-container d-flex justify-content-center">
            <a class="signup-link text-login" asp-route="RegistrationView" role="button">Sign Up</a>
          </div> 
        <span class="mt-2 d-block text-danger feedback-error">@authenticationError</span>
        </div>
      </div>
    </div>

  </body>
</html>




