@using MyGames.Core.Dtos.Models;

@model RegistrationDto

@{
    ViewData["Title"] = "Registration";
    var authenticationError = TempData["error"] as string;
    Layout = null;
}

<style>

  * {
    margin: 0;
    padding: 0;
    
  }

  .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.login-wrappper {
    width: 100%;
    margin: 0px auto 0px auto;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #121212;
}

.login{
  width: 470px;
  height: 950px;
  background-color: #2A2A2A;
  margin-right: auto;
  margin-left: auto;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

html::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
}

html::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  color: #4dbf00;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  font-family: "Sen", sans-serif;
}

.login-container{
  padding: 80px 50px 80px
}

.heder-login, .text-login {
  color: white;
  text-align: center;
}

.login-button-container{ 
  display: flex;
  margin-top: 20px;
}

.login-button{
  margin: 0px auto;
}

.signup-button-container{
  display: flex;
  margin-top: 20px;
}

.errors {
  color: red;
}

.errors-login{
  color: red;
}
.form-label{
  color: white;
}

</style>



<!DOCTYPE html>
<html lang="en"> 
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
  </head>
  <body>

    <div class="login-wrappper">
      <div class="login ">
        <div class="login-container">
          <div class="lilita-one-regular  logo">MyGames</div>
          <div class="heder-login roboto-medium ">Registration</div>

          <form asp-route="RegistrationEndpoint" method="post">

              <div class="mb-3">
                <label asp-for=Username class="form-label">Username</label>
                <input asp-for=Username type="text" class="form-control">
                <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Username"></span>
              </div>

            <div class="mb-3">     
              <label asp-for=Email class="form-label">Email address</label>
              <input asp-for=Email type="email" class="form-control">
              <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Email"></span>
            </div>
          
            <div class="mb-3">
              <label asp-for=Password class="form-label">Password</label>
              <input asp-for=Password type="password" class="form-control">
              <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Password"></span>
            </div>

             <div class="mb-3">
                <label asp-for=Birthdate class="form-label">Birthdate</label>
                <input asp-for=Birthdate type="date" class="form-control">
                <span class="mt-2 d-block text-danger feedback-error" asp-validation-for="Birthdate"></span>
              </div>
              
            <div class="login-button-container">
              <button type="submit" class="btn btn-primary login-button">Register</button>
            </div>
          </form>

          
        <span class="mt-2 d-block text-danger feedback-error">@authenticationError</span>
        </div>
      </div>
    </div>

  </body>
</html>