@model User

@{
    ViewData["Title"] = "Registration";
}

<div asp-validation-summary="All"></div>

<form enctype="multipart/form-data" asp-route="RegistrationEndpoint" method="post">
  <div class="mb-3">
    <label asp-for=Login class="form-label">Login</label>
    <input asp-for=Login type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for=Email class="form-label">Email address</label>
    <input asp-for=Email type="email" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for=Username class="form-label">Username</label>
    <input asp-for=Username type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for=Password class="form-label">Password</label>
    <input asp-for=Password type="password" class="form-control">
  </div>
   <div class="mb-3">
    <label asp-for=Birthdate class="form-label">Birthdate</label>
    <input asp-for=Birthdate type="date" class="form-control">
  </div>
  <div class="mb-3">
    <label for="avatar" class="form-label">Avatar: </label>
    <input type="file" class="form-control" id="avatar" name="avatar">
  </div>
  <button type="submit" class="btn btn-success">Registration</button>
</form>