@using MyGames.Core.User.Models;

@inject UserManager<User> userManager

@{
    var IsAuthenticated = base.User.Identity?.IsAuthenticated ?? false;
    var isDeveloper = base.User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault()?.Value == "Developer";
    var userName =  User.FindFirstValue(ClaimTypes.Name);
    User? user = IsAuthenticated ? await userManager.FindByNameAsync(userName!) : null;
    var userId = user?.Id;
}
<style>

    .profile-image {
        border-radius: 50%;
        height: 40px;
        margin-left: 10px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyGames</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyGames.styles.css" asp-append-version="true" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
</head>

<style>
    .to-margin-left{
        margin-left: 30px;
    }
</style>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">MyGames</h1>
            </div>
            <div class="">
                <ul class="menu-list">
                    <a class="menu-list-item active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="menu-list-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a class="menu-list-item" asp-area="" asp-controller="Game" asp-action="Index">Shop</a>
                    @if(IsAuthenticated)
                    {
                        <a class="menu-list-item" asp-controller="Identity" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="menu-list-item" asp-route="LoginView">Login</a>
                        <a class="menu-list-item" asp-route="RegistrationView">Registration</a>
                    }

                </ul>
            </div>
            <div class="profile-container">
                @if(IsAuthenticated)
                {
                    <img class="profile-picture" src="/api/Identity/Avatar/@userId" alt="">
                        <div class="profile-text-container">
                            <span class="profile-text">@userName</span>
                            <i class="fas fa-caret-down"></i>
                        </div>
                }
                <div class="toggle">
                    <i class="fas fa-moon toggle-icon"></i>
                    <i class="fas fa-sun toggle-icon"></i>
                    <div class="toggle-ball"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <i class="left-menu-icon fas fa-search"></i>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="left-menu-icon fas fa-home"></a>
        <i class="left-menu-icon fa-solid fa-basket-shopping"></i>
        <a asp-area="" asp-controller="Game" asp-action="Index" class="left-menu-icon fas fa-shopping-cart"></a>
        
    </div>

    <div class="container to-margin-left">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
